.work {
  display: flex;
  grid-column: 1/6;
  flex-direction: column;
  background-color: var(--white);
  transition: background-color 0.5s ease-in-out 0.2s;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
  transition: color 0.5s ease-in-out 0.2s;
}

.list {
  margin-bottom: 25px;
  list-style: disc inside ;
}

.item {
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: var(--black);
  transition: color 0.5s ease-in-out 0.2s;
}

.item::marker {
  color: #B7280F;
}

